
<div class="container">
  <div class="panel panel-warning">
    <div class="panel-heading text-center"><h3 class="text-info"><strong>Let's Go</strong>&nbsp;&nbsp;商品类别</h3></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-8 form-group text-info">&nbsp;</div>
        <div class="col-md-4 form-group text-info">Search: <input ng-model="query"></div>
      </div>
      <div class="row">
        <div class="col-md-8 form-group text-info"><h2 class="text-danger">修改类别</h2></div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group text-info">&nbsp;</div>
        <div class="col-md-6 form-group text-info">
          <div class="panel panel-default">
              <div class="panel-body">
                  <div class="row" ng-repeat="category in categorys | filter:query">
                      <div class="col-md-4 form-group">{{category}}</div>
                      <div class="col-md-6 form-group" ng-show="showModify"><input ng-model="category" ng-change="changeCategory(category)">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="cancelModify()">取消</button>
                      </div>
                      <div class="col-md-2 form-group">
                          <button type="button" class="btn btn-primary btn-sm" ng-click="modifyCurrentCategory(category)">修改</button>
                      </div>
                      <div class="col-md-2 form-group">
                          <button class="trash">
                               <span class="glyphicon glyphicon-trash" ng-click="deleteCurrentCategory(category)"></span>
                          </button>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
